<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.lis.mapper.memberMapper">
 
 	<select id="register" resultType="memberVO">INSERT INTO USER (User_key, Name, User_PW, User_type, Phone_NO, NO_of_Book_Borrowed, User_Status) VALUES (#{User_key}, #{Name}, #{User_PW}, #{User_type}, #{Phone_NO}, #{NO_of_Book_Borrowed}, #{User_Status})
 	
 	<!--
 	INSERT INTO USER  (User_key, Name, Phone_No, NO_of_Book_Borrowed, User_type, City, District, User_Status, User_PW)
 VALUES ( #{userEmail}, #{userName}, #{userPhone}, #{NO_of_Book_Borrowed}, #{userType}, #{userCity}, #{userDistrict}, #{user_Status}, #{userPwd}, #{userRegDate})
 	  -->
 		
 	</select>
 	
 	<select id="checkUserEmail" parameterType="String" resultType="memberVO">
      	SELECT User_key FROM USER WHERE User_key = #{userEmail}
	</select>
	
 	<select id="login" resultType="memberVO">select * from USER where User_key = #{User_key}</select>
 	
 	
 	
 	<select id="selectMember" resultType="memberVO">
 		
 	</select>
    
    
	
	
 	<select id="check_id" parameterType="String" resultType="int">select count(*) from USER where User_key = #{userKey}</select>
 	<select id="check_pw" parameterType="String" resultType="memberVO">select * from USER where User_PW=PASSOWRD('#{userPW}')</select>
	
	
	<select id="searchMember" resultType="memberVO">
 		SELECT User_key, Name, Phone_NO, NO_of_Book_Borrowed, User_type, City, District, User_Status, USER_regist_date  FROM USER
 		<include refid="search"></include>
 	</select>
 	
 	<select id="countMember" resultType="int">
 		SELECT count(*) FROM USER
 		<include refid="search"></include>
 	</select>
 
 	
 	
 	<sql id="search">
 		<choose>
 			<!-- 검색옵션이 전체 검색일 경우 -->
 			<when test="searchOption == 'all'">
 				WHERE User_key like CONCAT('%',#{keyword},'%')
 				OR Name like CONCAT('%',#{keyword},'%')
 				OR Phone_NO like CONCAT('%',#{keyword},'%')
 				OR NO_of_Book_Borrowed like CONCAT('%',#{keyword},'%')
 				OR User_type like CONCAT('%',#{keyword},'%')
 				OR City like CONCAT('%',#{keyword},'%')
 				OR District like CONCAT('%',#{keyword},'%')
 				OR User_Status like CONCAT('%',#{keyword},'%')
 				OR USER_regist_date like CONCAT('%',#{keyword},'%')
 			</when>
 			<otherwise>
 				WHERE ${searchOption} like CONCAT('%',#{keyword},'%')
 			</otherwise>
 		</choose>
 	</sql>

</mapper>

